DataAuditor-Console/bin/Debug/DataAuditor-Console.exe
DataAuditor-Console/bin/Debug/DataAuditor-Console.pdb
DataAuditor-Console/bin/Debug/DataAuditor-Console.vshost.exe
DataAuditor-Console/bin/Debug/NDataAudit.Framework.dll
DataAuditor-Console/bin/Debug/NDataAudit.Framework.pdb
DataAuditor-Console/bin/Debug/NLog.config
DataAuditor-Console/bin/Debug/NLog.dll
DataAuditor-Console/bin/Debug/NLog.xml
DataAuditor-Console/obj/Debug/DataAuditor-Console.csprojResolveAssemblyReference.cache
DataAuditor-Console/obj/Debug/DataAuditor-Console.exe
DataAuditor-Console/obj/Debug/DataAuditor-Console.pdb
DataAuditor-Console/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataAuditor-GUI/bin/DataAuditor-GUI.exe
DataAuditor-GUI/bin/DataAuditor-GUI.pdb
DataAuditor-GUI/bin/DataAuditor-GUI.vshost.exe
DataAuditor-GUI/bin/NDataAudit.Framework.dll
DataAuditor-GUI/bin/NDataAudit.Framework.pdb
DataAuditor-GUI/bin/NETXP.Controls.TaskPane.dll
DataAuditor-GUI/bin/NETXP.Controls.TaskPane.xml
DataAuditor-GUI/bin/NETXP.Library.dll
DataAuditor-GUI/bin/NETXP.Win32.dll
DataAuditor-GUI/bin/NLog.config
DataAuditor-GUI/bin/NLog.dll
DataAuditor-GUI/bin/NLog.xml
DataAuditor-GUI/bin/SandBar.dll
DataAuditor-GUI/obj/Debug/DataAuditor-GUI.csproj.FileListAbsolute.txt
DataAuditor-GUI/obj/Debug/DataAuditor-GUI.csproj.GenerateResource.Cache
DataAuditor-GUI/obj/Debug/DataAuditor-GUI.csprojResolveAssemblyReference.cache
DataAuditor-GUI/obj/Debug/DataAuditor-GUI.exe
DataAuditor-GUI/obj/Debug/DataAuditor-GUI.pdb
DataAuditor-GUI/obj/Debug/DataAuditor.UI.MainForm.resources
DataAuditor-GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataAuditorGroup.v11.suo
NDataAudit/bin/NAudit.Framework.xml
NDataAudit/bin/NDataAudit.Framework.dll
NDataAudit/bin/NDataAudit.Framework.dll.config
NDataAudit/bin/NDataAudit.Framework.pdb
NDataAudit/bin/NLog.config
NDataAudit/bin/NLog.dll
NDataAudit/bin/NLog.xml
NDataAudit/NAudit.Framework.xml
NDataAudit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NDataAudit/obj/Debug/NDataAudit.Framework.csproj.FileListAbsolute.txt
NDataAudit/obj/Debug/NDataAudit.Framework.csprojResolveAssemblyReference.cache
NDataAudit/obj/Debug/NDataAudit.Framework.dll
NDataAudit/obj/Debug/NDataAudit.Framework.pdb
NDataAudit/packages.config
packages/NLog.2.0.1.2/lib/net20/NLog.dll
packages/NLog.2.0.1.2/lib/net20/NLog.xml
packages/NLog.2.0.1.2/lib/net35/NLog.dll
packages/NLog.2.0.1.2/lib/net35/NLog.xml
packages/NLog.2.0.1.2/lib/net40/NLog.dll
packages/NLog.2.0.1.2/lib/net40/NLog.xml
packages/NLog.2.0.1.2/lib/net45/NLog.dll
packages/NLog.2.0.1.2/lib/net45/NLog.xml
packages/NLog.2.0.1.2/lib/sl2/NLog.dll
packages/NLog.2.0.1.2/lib/sl2/NLog.xml
packages/NLog.2.0.1.2/lib/sl3-wp/NLog.dll
packages/NLog.2.0.1.2/lib/sl3-wp/NLog.xml
packages/NLog.2.0.1.2/lib/sl3/NLog.dll
packages/NLog.2.0.1.2/lib/sl3/NLog.xml
packages/NLog.2.0.1.2/lib/sl4-windowsphone71/NLog.dll
packages/NLog.2.0.1.2/lib/sl4-windowsphone71/NLog.xml
packages/NLog.2.0.1.2/lib/sl4/NLog.dll
packages/NLog.2.0.1.2/lib/sl4/NLog.xml
packages/NLog.2.0.1.2/lib/sl5/NLog.dll
packages/NLog.2.0.1.2/lib/sl5/NLog.xml
packages/NLog.2.0.1.2/NLog.2.0.1.2.nupkg
packages/NLog.2.0.1.2/NLog.2.0.1.2.nuspec
packages/NLog.2.0.1.2/tools/net20/InstallNLogConfig.exe
packages/NLog.2.0.1.2/tools/net35/InstallNLogConfig.exe
packages/NLog.2.0.1.2/tools/net40/InstallNLogConfig.exe
packages/NLog.2.0.1.2/tools/net45/InstallNLogConfig.exe
packages/NLog.Config.2.0.1.2/content/NLog.config
packages/NLog.Config.2.0.1.2/content/NLog.xsd
packages/NLog.Config.2.0.1.2/NLog.Config.2.0.1.2.nupkg
packages/NLog.Config.2.0.1.2/NLog.Config.2.0.1.2.nuspec
packages/NLog.Config.2.0.1.2/tools/Install.ps1
packages/NLog.Schema.2.0.1.2/content/NLog.xsd
packages/NLog.Schema.2.0.1.2/NLog.Schema.2.0.1.2.nupkg
packages/NLog.Schema.2.0.1.2/NLog.Schema.2.0.1.2.nuspec
NDataAudit/NAudit.Framework.xml
NDataAudit/NAudit.Framework.xml
