<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourceEmail" value="hector.sosa@klasresearch.com"/>
    <add key="sourceEmailDescription" value="Data Auditor Program"/>
    <add key="smtpServerAddress" value="mail.klasresearch.com"/>
  </appSettings>
</configuration>