<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sourceEmail" value="no-reply@cricut.com"/>
    <add key="sourceEmailDescription" value="Data Auditor Program"/>
    <add key="smtpServerAddress" value="outlook.office365.com"/>
  </appSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
